*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100dvh;
    background: rgb(2, 6, 23);
    background: linear-gradient(
        135deg,
        rgba(2, 6, 23, 1) 0%,
        rgba(30, 27, 75, 1) 100%
    );
    background-attachment: fixed;
}
html.no-scroll {
    overflow-y: hidden;
}

body {
    color: rgb(248, 250, 252);
    font-family: "Inter", sans-serif;
}
/************ HEADER *************/
header {
    height: 7rem;
    width: 100%;
    position: fixed;
    z-index: 30;
    padding: 0 1.5rem;
    top: 0;
    left: 0;
    background-color: rgba(2, 6, 23, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(2, 6, 23);
}
.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    width: 16.666667%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        img {
            border-radius: 50%;
            width: 6rem;
        }
    }
}
.nav-toggler {
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
}
.nav-toggler:hover {
    background-color: rgba(248, 250, 252, 0.2);
    color: #fff;
    cursor: pointer;
}
#nav-opener-icon {
    padding: 0.25rem;
    width: 2rem;
}
#nav-opener-icon.toggled {
    display: none;
}
#nav-closer-icon {
    display: none;
}
#nav-closer-icon.toggled {
    display: block;
    width: 2rem;
    padding: 0.25rem;
}

/************ NAV *************/
nav {
    position: fixed;
    z-index: 30;
    top: 7rem;
    width: 50%;
    height: 100%;
    background-color: rgba(2, 6, 23, 0.2);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgb(2, 6, 23);
    right: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    display: flex;
    align-items: center;

    &.open {
        transform: translateX(0);
    }

    ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        li {
            margin: 2.5rem 0;

            a {
                width: 100%;
                text-decoration: none;
                border-radius: 0.375rem;
                padding: 0.5rem 1rem;
                transition: all 0.3s ease-in-out;
                color: #f8fafc;

                &:hover {
                    background-color: rgba(248, 250, 252, 0.2);
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

/************ MAIN *************/
main {
    height: calc(100dvh - 7rem);
    margin: auto 0;
}

section.hero-section {
    min-height: 100dvh;
    width: 100%;
    position: relative;
    background-image: url("src/assets/images/hero-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    .hero-picture {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
            width: 450px;
        }
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Source Code Pro", monospace;
        width: 100%;
        margin-top: 2.5rem;

        h1 {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
        p {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-style: italic;
            font-weight: bold;
        }
    }
}
.arrow-down-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    a {
        padding: 1rem;
        width: 4.225rem;

        svg {
            width: 100%;

            &:hover {
                cursor: pointer;
                fill: rgb(148, 163, 184);
            }
        }
    }
}
#about {
    margin-top: 7rem;
    max-width: 80rem;
    margin: 0 auto;
    height: 100dvh;
}
.about-container {
    width: 100%;
    padding: 2.5rem;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container {
    width: 66.6%;
    margin: 0 auto;

    .card {
        margin-top: 2.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(30, 27, 75);
        background-image: linear-gradient(
            135deg,
            rgba(30, 41, 29, 0.2) 0%,
            rgba(55, 48, 163, 0.2)
        );
        .card-header {
            img {
                width: 100%;
                border-top-left-radius: 0.375rem;
                border-top-right-radius: 0.375rem;
                height: 100%;
            }
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
        .card-footer {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            button {
                background-color: transparent;
                border: 1px solid rgb(226, 232, 240);
                padding: 0.5rem 1rem;
                border-radius: 0.375rem;
                color: #f8fafc;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                transition: all 0.1s ease-in-out;
                margin-top: 1.5rem;
                width: 100%;

                &:hover {
                    background-color: rgba(248, 250, 252, 0.2);
                    cursor: pointer;
                }
            }
        }
    }
}

.modal_container {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    .modal {
        background-color: #f8fafc;
        color: #020617;
        padding: 25px;
        width: 800px;
        max-width: 100%;
        border-radius: 0.5rem;

        .modal-header {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            button {
                background-color: #ef4444;
                margin: 0.5rem;
                padding: 0.25rem 0.5rem;
                border-radius: 0.375rem;
                border: none;
                transition: all 0.1s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #f87171;
                    cursor: pointer;
                }

                img {
                    width: 1rem;
                }
            }
        }
        .modal-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 10px;
            font-size: 14px;
        }
    }
}

.modal_container.show {
    opacity: 1;
    pointer-events: auto;
}

.section-title {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#projects {
    padding: 2.5rem;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.projects-container {
    margin: 2.5rem auto;
    max-width: 80rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(0, minmax(0, 1fr));
    gap: 1rem;
}
.project-card-container  {
    width: 90%;
    margin: 0 auto;
}
.project-card {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(30, 27, 75);
    background-image: linear-gradient(
        135deg,
        rgba(30, 41, 29, 0.2) 0%,
        rgba(55, 48, 163, 0.2)
    );
}

.project-card-header {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
    padding: 1.5rem;
}
.project-card-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025;
}

.project-card-description {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(100, 116, 139);
}
.project-card-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
}
.project-card-image-container {
    img {
        width: 100%;
        height: 100%;
        border-radius: 0.375rem;
        margin: 0 auto;
    }
}
.project-card-text {
    margin-top: 1rem;
    width: 100%;
    
    margin: 1rem auto;
}
.project-card-tech {
    margin-top: 1rem;
}
.project-card-tech-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    list-style-type: none;
}
.project-card-tech-item {
    border: #f8fafc 1px solid;
    border-radius: 9999px;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgba(248, 250, 252, 0.2);
}
.project-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0.725rem;
    padding: 1.5rem;
}
.project-card-link {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid #f8fafc;
    color: #f8fafc;
    transition: all 0.1s ease-in-out;
    font-size: 0.875rem;

    &:hover {
        background-color: rgba(248, 250, 252, 0.2);
        cursor: pointer;
    }
}
.project-card-link-icon {
    width: 15%;
    margin: 0 auto;
}

.project-card-link-text {
    width: 90%;
    margin: 0 auto;
}
/************ ANIMATIONS *************/
@keyframes bounce {
    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
.animate-bounce {
    animation: bounce 1s infinite;
}

/************ MEDIA QUERIES *************/
@media screen and (min-width: 768px) {
    .about-container {
        .card-container {
            width: 80%;
            .card {
                flex-direction: row;

                .card-header {
                    width: 50%;

                    img {
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 0.375rem;
                    }
                }

                .card-body {
                    width: 50%;
                    margin-top: 1rem;

                    p {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                    }
                }

                .card-footer {
                    button {
                        margin-top: 0;
                        margin: 0 1.5rem 1.5rem 0;
                        width: 50%;
                    }
                }
            }
        }
    }

    .projects-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (min-width: 1024px) {
    .logo-container {
        width: fit-content;
    }

    nav > ul > li > a {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .hero-container {
        flex-direction: row;
        height: 100%;

        .hero-picture {
            margin-bottom: 10rem;
        }

        .hero-text {
            margin-top: 0;
            align-items: start;
            h1 {
                font-size: 3rem;
                line-height: 1;
            }
            p {
                font-size: 1.875rem;
                line-height: 2.25rem;
            }
        }
    }

    .section-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .about-container {
        .card-container {
            width: 100%;

            .card {
                .card-header {
                    width: 33.3%;
                }

                .card-body {
                    width: 66.6%;

                    p {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 7;
                        -webkit-box-orient: vertical;
                    }
                }

                .card-footer {
                    button {
                        width: 25%;
                    }
                }
            }
        }
    }

    .projects-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
