<section id="about">
    <article class="about-container">
        <h2 class="section-title">Qui suis-je ?</h2>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="src/assets/images/smiling-coder.jpeg" alt="" />
                </div>
                <div class="card-body">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Expedita consectetur
                        blanditiis vitae maxime dolore? Accusamus
                        quo nisi, dolores sequi distinctio neque
                        exercitationem mollitia minima nam adipisci
                        voluptatum modi aspernatur aliquid, facilis
                        nostrum quaerat aliquam. Voluptate ullam
                        iusto, similique sapiente molestias, modi
                        harum eius autem reprehenderit, illo ut unde
                        excepturi labore fugiat minima nemo impedit?
                        Nihil, repellendus. Dolores impedit,
                        accusamus necessitatibus assumenda maxime
                        dolorem veritatis, nemo sit placeat saepe
                        praesentium doloribus cumque distinctio,
                        velit aliquam deserunt! Illo soluta dolore
                        maxime aliquid magni voluptatem vitae ipsum
                        neque tempore voluptas. Sint, libero sed? Ex
                        tempora repudiandae maxime dolorum sapiente
                        magnam eius, dolore quis atque itaque
                        consequatur ut voluptates eligendi aliquid
                        nostrum ipsam neque quaerat cum. Maxime
                        dolorem nulla sunt eius distinctio odit
                        reprehenderit, repudiandae molestias,
                        voluptates modi exercitationem.
                    </p>
                    <div class="card-footer">
                        <button id="about_modal_opener">
                            Read More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="modal_container" id="about_modal">
        <div class="modal">
            <div class="modal-header">
                <button id="about_modal_closer">
                    <img src="src/assets/icons/xmark-solid.svg" alt="" />
                </button>
            </div>
            <div class="modal-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Expedita consectetur blanditiis vitae maxime
                dolore? Accusamus quo nisi, dolores sequi distinctio
                neque exercitationem mollitia minima nam adipisci
                voluptatum modi aspernatur aliquid, facilis nostrum
                quaerat aliquam. Voluptate ullam iusto, similique
                sapiente molestias, modi harum eius autem
                reprehenderit, illo ut unde excepturi labore fugiat
                minima nemo impedit? Nihil, repellendus. Dolores
                impedit, accusamus necessitatibus assumenda maxime
                dolorem veritatis, nemo sit placeat saepe
                praesentium doloribus cumque distinctio, velit
                aliquam deserunt! Illo soluta dolore maxime aliquid
                magni voluptatem vitae ipsum neque tempore voluptas.
                Sint, libero sed? Ex tempora repudiandae maxime
                dolorum sapiente magnam eius, dolore quis atque
                itaque consequatur ut voluptates eligendi aliquid
                nostrum ipsam neque quaerat cum. Maxime dolorem
                nulla sunt eius distinctio odit reprehenderit,
                repudiandae molestias, voluptates modi
                exercitationem. Cupiditate natus, illo, quam
                praesentium alias dolor expedita impedit itaque quas
                ullam aperiam accusamus reprehenderit nulla. Ipsa
                quo vero praesentium! Suscipit debitis facilis,
                libero perspiciatis quo adipisci dolores repudiandae
                officiis velit iste unde doloribus asperiores,
                corporis vel! Maxime, cum animi aspernatur vitae
                adipisci aperiam deleniti eum ullam minima odio modi
                soluta, veritatis beatae repellendus deserunt
                ratione! Explicabo natus unde aperiam minima iusto.
                Soluta quisquam eum nesciunt omnis, eius, vel
                voluptate quas sed earum assumenda impedit
                laboriosam magni molestiae veniam aut ad dolore.
                Nisi, praesentium laboriosam obcaecati neque
                explicabo corrupti perferendis odio porro voluptatum
                aperiam natus voluptate suscipit eius iure omnis
                consequuntur quaerat amet sit deserunt aliquam enim
                quibusdam cupiditate. Repellat dolorem deserunt unde
                ipsum magnam. Similique consectetur error modi ullam
                labore. Similique ipsam veniam consectetur.
            </div>
        </div>
    </div>
</section>