<header>
    <div class="header-container">
        <div class="logo-container">
            <a href="/">
                <img src="src/assets/images/profile-picture.png" alt="" />
            </a>
        </div>
        <button class="nav-toggler">
            <span>
                <img src="src/assets/icons/bars-solid.svg" id="nav-opener-icon" alt="" />
            </span>
            <span>
                <img src="src/assets/icons/xmark-solid.svg" id="nav-closer-icon" alt="" />
            </span>
        </button>
    </div>
</header>